<h2>Transactions</h2>


<form method="post" action="/transactions/<%=@transaction.id%>">
 <label for="Amount-field"> amount:</label>
 <input
 type="text"
 name="amount"
 id="Amount-field"
 value="<%=@transaction.amount%>"
 />


 <label for="date-field"> date_Time:</label>
 <input
 type="datetime-local"
 name="date"
 id="date-field"
 value="<%=@transaction.date%>"
 />



 <label for="spendingtag_id"> spending_Tag:</label>
 <select id="spendingtag_id" name="spendingtag_id"/>
  <% @spendingtags.each do |spendingtag| %>
   <option value=<%= spendingtag.id%>> <%=spendingtag.type%></option>
  <%end%>
</select>


<label for="merchant_id"> merchant:</label>
 <select id="merchant_id" name="merchant_id"/>
 <% @merchants.each do |merchant| %>
  <option value=<%= merchant.id%>> <%=merchant.name%></option>
 <%end%>
</select>




 <input type='submit' value="Edit Transaction">
</form>
